//color

$error: #f44336;
$red_btn: red;
$red_50: #e31031;
$white: white;
$card_black: #212121;
$black:  #0e0f10;
$black_50: #1f1f1f;
$green: green;

//
$mobile: "screen and (max-width: 768px)";
$tablet: "only screen and (min-width: 768px) and (max-width: 1024px)";
$desktop: "only screen and (min-width: 1025px)";